@model BlogPost
@inject IImageService _ImageService




<!-- Start Post List  -->
<div class="content-block post-list-view mt--30">
    <div class="post-thumbnail">
        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@Model?.Slug">
            <img src="@_ImageService.ConvertByteArrayToFile(Model?.ImageData, Model?.ImageType, DefaultImage.BlogPostImage)" alt="" />
        </a>
    </div>
    <div class="post-content">
        <div class="post-cat">
            <div class="post-cat-list">
                <a class="hover-flip-item-wrapper" asp-route-categoryId="@Model?.CategoryId" asp-action="CategoryIndex" asp-controller="BlogPosts">
                    <span class="hover-flip-item">
                        <span data-text="@Model?.Category?.Name">@Model?.Category?.Name</span>
                    </span>
                </a>
            </div>
        </div>
        <h4 class="title">
            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@Model?.Slug">
                @Model?.Title
            </a>
        </h4>
        <div class="tagcloud">@foreach(Tag tags in Model!.Tags)
            {
                <a asp-action="GetBlostbyTagId" asp-controller="BlogPosts" asp-route-tagsId="@tags.Id">@tags.Name</a>
            }
        </div>
        <div class="post-meta-wrapper">
            <div class="post-meta">
                <div class="content">
                    <h6 class="post-author-name">
                        <a class="hover-flip-item-wrapper" href="author.html">
                            <span class="hover-flip-item">
                                <span data-text="Tom Farrell">Tom Farrell</span>
                            </span>
                        </a>
                    </h6>
                    <ul class="post-meta-list">
                        <li>@Model?.CreatedDate.ToString("MMM dd, yyyy")</li>
                        <li>@Model?.Comments.Count </li>
                    </ul>
                </div>
            </div>
            @*                                    <ul class="social-share-transparent justify-content-end">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fas fa-link"></i></a></li> *
            </ul > *@
        </div>
    </div>
</div>
<!-- End Post List  -->
