@using X.PagedList
@model IPagedList<BlogPost>

<br />
<h3> BitsAndBytes Posts By Category </h3>

@foreach (BlogPost blogPost in Model)
{
    <partial name="_BlogCardPartial" model="blogPost" />

}

<div>

    <div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    @Html.PagedListPager(Model, pageNum => Url.Action("CategoryIndex", new { pageNum }),
    new PagedListRenderOptions
    {
    LiElementClasses = new string[] {"my-page-item"},
    PageClasses = new string[] {"my-page-link"}
    })
</div>
